@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,400&display=swap');

:root {
  --color-pink: rgb(200, 29, 216);
  --color-darkBlue: rgb(0, 50, 98);
  --color-lessDarkBlue: rgb(23, 94, 161);
  --color-blue: rgb(70, 133, 216);
  --color-grey: rgb(144, 144, 144);
  --color-red: rgb(241, 78, 78);
  --color-darkGrey: rgb(37, 37, 37);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}